.btn-primary {
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background-color: $purple-10;
    display: inline-block;
    padding: 11px 23px;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: $gray-100;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $purple-20;
    }
    // @include responsivo ('laptop'){
    //     color: red;
    // }
}

.form-email {
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgba(255, 255, 255, 0.04);
    padding: 4px 4px 4px 24px;
    @include flex-center;
    width: 100%;
    max-width: 521px;
    gap: 16px;

    input {
        all: unset;
        flex: 1;
        color: $gray-100;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;

        &::placeholder {
            color: $gray-300;
        }
    }
}

.card-recurso {
    width: 100%;
    max-width: 265px;

    .icon {
        width: 48px;
        height: 48px;
        @include flexTotalCenter;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.04);
        background: rgba(255, 255, 255, 0.04);
        margin-bottom: 16px;
    }

    .text {
        h6 {
            color: $gray-100;
            font-size: 18px;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 16px;
        }

        p {
            color: $gray-300;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
        }
    }
}

.review {
    @include flex-center;
    gap: 8px;

    & > div {
        @include flex-center;
        gap: 4px;

        span {
            color: $gray-100;
            font-size: 18px;
            font-weight: 600;
            line-height: 150%;

            strong {
                font-weight: 400;
                color: $gray-600;
            }
        }
    }
}
