header {
    position: sticky;
    top: 0;
    z-index: 99999;
    margin-top: 1.6rem;
    .content-header {
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(3.5px);
        @include flexCenterJustify;
        padding: 8px 8px 8px 21px;
        .left-content {
            @include flex-center;
            gap: 1.6rem;
            a {
                @include flex-center;
                gap: 0.8rem;
                span {
                    color: $gray-200;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 150%;
                    transition: color 0.3s rease;
                }
                &:hover {
                    span {
                        color: $purple-10;
                    }
                }
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}
