header {
    position: sticky;
    top: 0;
    z-index: 99999;
    margin-top: 16px;
    .content-header {
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(3.5px);
        @include flexCenterJustify;
        padding: 8px 8px 8px 21px;
        .left-content {
            @include flex-center;
            gap: 16px;
            a {
                @include flex-center;
                gap: 8px;
                span {
                    color: $gray-200;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 150%;
                    transition: color 0.3s rease;
                }
                &:hover {
                    span {
                        color: $purple-10;
                    }
                }
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .btn-mobile {
            display: none;
        }
    }

    @include responsivo("laptop") {
    }

    @include responsivo("tablet") {
    }

    @include responsivo("mobile") {
        .content-header {
            padding: 20px 25px;
            .logo {
                max-width: 135px;
            }
            .left-content {
                display: none;
            }
            .btn-mobile {
                display: block;
            }
        }
    }
}
