.s-hero {
    padding-top: 80px;
    .hero-content {
        @include flexCenterJustify;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 97px;
        gap: 32px;
        .left {
            flex: 1;
            max-width: 600px;
            h1 {
                font-size: 56px;
                margin-bottom: 16px;
                span {
                    color: $purple-10;
                    text-decoration: underline;
                    font-family: "Space Grotesk", sans-serif;
                    font-size: 56px;
                }
            }
            p {
                max-width: 491px;
                color: $gray-200;
                font-size: 22px;
                font-weight: 400;
                line-height: 150%;
                margin-bottom: 32px;
            }
            ul {
                width: 100%;
                max-width: 339px;
                @include flexCenterJustify;
                margin: 48px 0;
            }
        }
    }
}

.s-recursos {
    padding-top: 111px;
    .top {
        @include flexCenterJustify;
        margin-bottom: 80px;
        h3 {
            max-width: 695px;
        }
        p {
            color: $gray-200;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
        }
    }
    .all {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 111px;
    }
}
