h1,
h2,
h3,
h4,
h5 {
    color: $gray-100;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    line-height: 120%;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 28px;
}
